.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

/* Default style */

.block.hero {
  display: flex;
  background-color: green !important  ;
}

.block.hero > div {
  box-sizing: border-box;
}

.block.hero > div:first-child {
  flex: 2;
}

.block.hero > div:last-child {
  background-color: #ebebeb;
  flex: 1;
  padding: 2rem;
}

/* Content */
.block.hero h1 { 
  font-size: var(--heading-font-size-l);
}

/* Main style */

.block.hero.main {
  position: relative;
  padding: 40px 24px;
  min-height: 500px;
  margin-left: clamp(2rem, 5%, 10rem);
  margin-right: clamp(2rem, 5%, 10rem);
}

.block.hero.main picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.block.hero.main picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Content overlay */
.block.hero.main > div:nth-child(2) { 
  position: absolute;
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%);
  background: var(--background-color);
  padding: .5rem 2rem;
  width: clamp(200px, 50%, 800px);
}

.block.hero.main h1 { 
  font-size: var(--heading-font-size-l);
}

.block.hero.main .button {
  background-color: var(--primary-color);
  border-radius: 0;
  color: var(--dark-color);
  font-size: var(--body-font-size-s);
  font-weight: bold;
  padding: 1em 2.5em;
  text-transform: uppercase;
}






@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}